body {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
}

.first,
.second,
.third {
    display: block;
    width: 150px;
    height: 75px;
    padding: 20px;
    margin: 10px;
}

.first {
    background-color: red;
}

.second {
    background-color: blue;
}

.third {
    background-color: brown;
}

.first1 {
    background-color: red;
}

.second2 {
    background-color: blue;
}

.third3 {
    background-color: brown;
}

.first1,
.second2,
.third3 {
    display: inline-block;
    width: 150px;
    height: 75px;
    padding: 20px;
    margin: 10px;
}